<div class="order-creator-container">
  <div class="order-list">
    <h2>Order list</h2>
    <ul>
      <li *ngFor="let order of orders">
        <strong>{{ order.code }}</strong> - {{ order.description }} -
        <span>Total: ${{ getOrderTotalPrice(order) }}</span>
      </li>
    </ul>
  </div>

  <div class="order-creator">
    <h2>Create order</h2>

    <fieldset>
      <legend>Customer info</legend>
      <label for="clientName">Name:</label>
      <input id="clientName" [(ngModel)]="clientName" placeholder="Insert customer's name" />

      <label for="clientAddress">Address:</label>
      <input id="clientAddress" [(ngModel)]="clientAddress" placeholder="Insert customer's address" />

      <label for="clientTelephone">Phone number:</label>
      <input id="clientTelephone" [(ngModel)]="clientTelephone" placeholder="Insert customer's phone number" />
    </fieldset>

    <fieldset>
      <legend>Order info</legend>
      <label for="orderCode">Code:</label>
      <input id="orderCode" [(ngModel)]="code" placeholder="Insert order's code" />

      <label for="orderDescription">Description:</label>
      <input id="orderDescription" [(ngModel)]="description" placeholder="Insert order's description" />
    </fieldset>

    <h3>Available burgers</h3>
    <ul>
      <li *ngFor="let burger of burgers">
        {{ burger.description }} (${{ burger.unitPrice }})
        <button (click)="addBurgerToOrder(burger)">Add</button>
      </li>
    </ul>

    <h3>Available beverage</h3>
    <ul>
      <li *ngFor="let beverage of beverages">
        {{ beverage.description }} (${{ beverage.unitPrice }})
        <button (click)="addBeverageToOrder(beverage)">Add</button>
      </li>
    </ul>

    <h2>Order summary:</h2>
    <h4>Burgers</h4>
    <ul>
      <li *ngFor="let burger of selectedBurgers">
        {{ burger.description }} (${{ burger.unitPrice }})
        <button (click)="removeBurgerFromOrder(burger)">Remove</button>
      </li>
    </ul>

    <h4>Beverage</h4>
    <ul>
      <li *ngFor="let beverage of selectedBeverages">
        {{ beverage.description }} (${{ beverage.unitPrice }})
        <button (click)="removeBeverageFromOrder(beverage)">Remove</button>
      </li>
    </ul>

    <label for="observations">Observations:</label>
    <textarea id="observations" [(ngModel)]="observations" placeholder="Insert order's observations"></textarea>

    <button (click)="saveOrder()">Save order</button>
</div>
</div>
