<div class="home-container">
  <div class="presentation-group">
    <h1>Welcome to Burger Overflow!</h1>
    <p>Please, tell us what would you like to do:</p>
  </div>
  <div class="button-group">
    <button mat-raised-button color="shadow" routerLink="/create-item">
    <!-- <a mat-raised-button color="shadow" href="/create-item"> -->
      <mat-icon class="button-icon">add</mat-icon>
      Register items
    </button>
    <button mat-raised-button color="shadow" routerLink="/create-burger">
      <mat-icon class="button-icon">lunch_dining</mat-icon>
      Register burgers
    </button>
    <button mat-raised-button color="shadow" routerLink="/create-order">
      <mat-icon class="button-icon">shopping_cart</mat-icon>
      Make an order
    </button>
  </div>
</div>
<!--
  <section>
    <form>
      <input type="text" placeholder="Filter by name" />
      <button class="primary" type="button">Search</button>
    </form>
  </section>
  <section class="results">
    <app-item
      *ngFor="let item of itemList"
      [item]="item">
    </app-item>
   <app-item></app-item>
  </section>
-->
