.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 92vh;
  gap: 15vh;
  background-color: #f9f9f9;
  background-image: url('/assets/restaurant-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.presentation-group {
  margin-top: -20vh;
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: -15vh;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 1.2rem;
  text-transform: none;
}

.button-icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

button:hover {
  background-color: #db6d3d;
}
